<div class="wrapper">
  <div class="container">

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center form-title">
        <h2>Edit your profile</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 form">
              <%= simple_form_for @user do |f| %>
              <%= f.input :birth_date, as: :date,
                                    start_year: @user.birth_date.year, end_year: Date.today.year - 90,
                                    end_month: @user.birth_date.month,
                                      order: [:day, :month, :year]%>
              <%= f.input :email %>
              <%= f.input :photo, as: :attachinary %>
              <%= f.button :submit, "Submit changes", class: "btn btn-primary" %>
            <% end %>
      </div>
    </div>
  </div>
</div>
