<div class="wrapper">
  <div class="container">

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center form-title">
        <h2>Edit your profile</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 form">
              <%= simple_form_for @user do |f| %>
              <%= f.input :birth_date, :as => :string, order: [:year, :month, :day],:input_html => { data: {behaviour: "datepicker"}}, required: true %>
              <%= f.input :email %>
              <%= f.input :photo, as: :attachinary %>
              <div class="text-center">
                <%= f.button :submit, "Submit changes", class: "btn btn-danger" %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>
