<h1 class="text-center"><%= @user.first_name %></h1>

<dl class="text-center">

  <%= cl_image_tag @user.photo.path, height: 300, width: 400, crop: :fill %>

  <dt>Birth Date</dt>
  <%= @user.birth_date %>

  <dt>Email</dt>
  <%= @user.email %>

  <dt>Upcoming projections</dt>
  <% @user.projections.each do |projection|%>
    <%= "#{projection.movie} at #{projection.address}" %>
  <% end %>

  <dt> Projections he's been to </dt>
  <% @user.bookings.each do |booking|%>
    <%= booking.projection.name %>
  <% end %>

  <dt> Reviews he's written </dt>
  <% @user.reviews.each do |review|%>
    <%= "#{review.booking.projection.movie} at #{review.booking.projection.address}" %> <br>
    <%= review.content %>
  <% end %>

 <!-- ONLY IF USER IS THE ACTUAL ONE -->
  <%= link_to "edit profile", edit_user_path(@user)%> <br>
  <%= link_to "add a new projection", new_projection_path %>
</dl>

