<div class="wrapper-grey">
  <div class="container">
    <div class="row">

    <!-- user info -->
      <div class="col-xs-12 col-sm-3 col-sm-offset-2">
        <!-- Profile photo -->
        <% if @user.photo? %>
          <%= cl_image_tag @user.photo.path, height: 150, width: 150, crop: :fill %>
        <% else %>
          <%= image_tag "Underwood-placeholder.jpg", height: 150, width: 150, crop: :fill %>
        <% end %>

        <!-- Profile Age and Name -->
        <h4><%= @user.first_name %></h4>
        <p><%= @user_age_in_days %> days old</p>
      </div>

      <!-- Projection info -->
      <div class="col-xs-12 col-sm-7">
      <!-- Header -->
      <% if current_user == @user %>
        <h1>My projections</h1>
      <% else %>
        <h1> <%= @user.first_name %>'s projections</h1>
      <% end %>
      </div>


    </div>
  </div>
</div>
