<div class="wrapper-grey">
  <div class="container">
    <div class="row">

    <!-- user info -->
      <div class="col-xs-12 col-sm-3 col-sm-offset-2">
        <!-- Profile photo -->
        <% if @user.photo? %>
          <%= cl_image_tag @user.photo.path, height: 150, width: 150, crop: :fill %>
        <% else %>
          <%= image_tag "Underwood-placeholder.jpg", height: 150, width: 150, crop: :fill %>
        <% end %>

        <!-- Profile Age and Name -->
        <h4><%= @user.first_name %></h4>
        <p><%= @user_age_in_days %> days old</p>
      </div>

      <!-- Projection info -->
      <div class="col-xs-12 col-sm-7">
      <!-- Header -->
        <% if current_user == @user %>
         <h1 class="overline active" id="future-activity">My projections</h1>
        <% else %>
          <h1 class="overline active" id="future-activity"> <%= @user.first_name %>'s projections</h1>
        <% end %>
        <h1 class="overline" id="activity-history">Past projections</h1>

        <% if @user_activity[:future_activity].nil? %>
          <%= link_to "Add a projection", new_projection_path, class: "navbar-wagon-item navbar-wagon-button " %>
        <% else %>
        <!-- Future projection list -->
          <% @user_activity[:future_projections].each do |future_projection| %>
            <%# TODO: move partial to shared folder %>
            <%= render "projections/projection-index", projection: future_projection %>
          <% end %>

          <% @user_activity[:future_bookings].each do |future_booking| %>
          <%# TODO: move partial to shared folder %>
            <%= render "projections/projection-index", projection: future_booking %>
          <% end %>
        <% end %>



      </div>


    </div>
  </div>
</div>
