<div class="navbar-wagon-opaque">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <i class="fa fa-film" aria-hidden="true" style="color: black;
    font-size: 30px; "></i>
  <% end %>



<!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <!-- Profile picture and dropdown -->
   <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.photo? %>
          <%= cl_image_tag current_user.photo.path, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "Underwood-placeholder.jpg", class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to projections_path do %>
                <i class="fa fa-ticket"></i>  <%= t(".profile", default: "All Projections") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <%= link_to "Add a projection", new_projection_path, class: "btn-medium" %>

      <% else %>

      <!-- Login text link -->
      <a href="#" class="navbar-wagon-link navbar-wagon-item" data-toggle="modal" data-target=".log-in-modal">Log in</a>

      <%= render 'shared/login-modal' %>

      <!-- Sign up text link -->

      <a href="#" class="navbar-wagon-link navbar-wagon-item" data-toggle="modal" data-target=".sign-up-modal">Sign up</a>

      <%= render 'shared/signup-modal' %>

    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>


