<div class="projection-card">
  <div class="movie">

    <div class="movie-image"
    <% if projection.photo? %>
    style="background-image: linear-gradient(-225deg, rgba(168, 132, 0, 0.31) 0%, rgba(61, 21, 0, 0.2) 50%), url(' <%= cl_image_path projection.photo.path, width: 230, height: 130, crop: :fill %> ');"
    <% else %>
    style="background-image: linear-gradient(-225deg, rgba(168, 132, 0, 0.31) 0%, rgba(61, 21, 0, 0.2) 50%), url('#');"
    <% end %>
    >

      <div class="movie-date text-center">
        <p><%= Date::ABBR_MONTHNAMES[projection.date.month] %></p>
        <p><%= projection.date.day %></p>
      </div>
      <h2><%= projection.movie%></h2>
    </div>
  </div>
  <div class="projection">
    <div class="projection-details">
      <div class="title"><%= link_to projection.name, projection_path(projection), class: "light-hover" %></div>
      <p><%= link_to projection.address, "https://www.google.fr/maps/search/#{projection.address}", target: "_blank"  %></p>
      <div class="participants">
        <% if !projection.bookings.empty? %>
          <% projection.bookings[0..5].each do |booking| %>
            <% if !booking.user.photo? %>
            <%= image_tag "https://www.drupal.org/files/profile_default.jpg", class: "avatar-large" %>
            <% else %>
            <%= cl_image_tag booking.user.photo.path, height: 150, width: 150, crop: :fill, class: "avatar-large" %>
            <% end %>
          <% end %>
        <% end %>
        <div>
          <%= "#{projection.capacity - projection.bookings.length} tickets are style available" %>
        </div>
      </div>
    </div>
      <%= link_to "https://www.google.fr/maps/search/#{projection.address}", target: "_blank", class: "map-projection" do %>
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=214x160&sensor=false&maptype=roadmap&markers=color:red|#{projection.address}&key=AIzaSyBDgyF0G_Lqwti0wPDWzT6UmWkztTQPcoM" %>
      <span>Show directions</span>
    <% end %>
  </div>
  <div class="booking text-center">
    <h2><!-- TODO: projection.start_time -->20:00</h2>
    <% if user_signed_in? %>
      <% if projection.user_id == current_user.id %>
        <%= link_to "Edit" , edit_projection_path(projection), class: 'btn btn-default' %>
      <% elsif (projection.bookings & current_user.bookings).empty? %>
        <%= simple_form_for @new_booking do |f| %>
          <%= f.input :projection_id, as: :hidden, input_html: { value: projection.id } %>
          <%= f.input :url, as: :hidden, input_html: { value: request.original_url } %>
          <%= f.button :submit, "Participate", class:"btn btn-default" %>
        <% end %>
      <% else %>
        <p>Ticket taken !</p>
      <% end %>
    <% else %>
      <a href="#" class="btn btn-default" data-toggle="modal" data-target=".sign-up-modal">Sign up to join</a>
    <% end %>
  </div>
</div>

