<div class="wrapper">
  <div class="container">

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center form-title">
        <h2>Edit your projection</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 form">
        <%= simple_form_for(@projection) do |f| %>
          <%= f.error_notification %>

          <%= f.input :name, required: true %>
          <%= f.input :movie %>
          <%= f.input :address %>
          <%= f.input :starts_at, :as => :string, :input_html => { data: {behaviour: "datepicker"}} %>
          <%= f.input :capacity %>
          <%= f.input :photo, as: :attachinary %>
          <% if @projection.photo? %>
            <%= cl_image_tag @projection.photo.path, width: 200, height: 300, crop: :fill %>
          <% end %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>

  </div>
</div>
