<div class="wrapper-grey">
  <div class="container">
    <% @futur_projections.each do |projection| %>
    <div class="projection-card">
      <div class="item-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://placehold.it/150x150');">
        <h2><%= projection.movie %></h2>
        <div class="projection-date text-center">
          <p><%= Date::MONTHNAMES[projection.date.month] %></p>
          <br>
          <p><%= projection.date.day %></p>
        </div>

      </div>
      <div class="item-center">
        <h2><%= projection.name %></h2>
        <p><%= projection.address %></p>
      </div>
      <div class="item-right">
        <h2>projection.start_time</h2>
        <button type="button" class="btn btn-default">Default</button>
      </div>
    </div>
    <% end %>
  </div>
</div>
