<div class="wrapper">
  <div class="container">

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center form-title">
        <h2>Create a new projection</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 form">
        <%= simple_form_for(@projection) do |f| %>
          <%= f.error_notification %>

          <%= f.input :name, required: true %>
          <%= f.input :movie %>
          <%= f.input :address %>
         <!--  TODO un truc du genre value: Date.today -->
          <%= f.input :date, :as => :string, :input_html => { data: {behaviour: "datepicker"}} %>
          <%= f.input :capacity %>
          <%= f.input :photo, as: :attachinary %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>

  </div>
</div>
