<div class="wrapper">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2>Create a new projection</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= simple_form_for(@projection) do |f| %>
          <%= f.error_notification %>

          <%= f.input :name %>
          <%= f.input :movie %>
          <%= f.input :address %>
          <%= f.input :date %>
          <%= f.input :capacity %>
          <%= f.input :photo, as: :attachinary %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>

  </div>
</div>
