<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1><%= @projection.name %></h1>
      <% if @projection.photo? %>
        <%= cl_image_tag @projection.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
      <h4>Address: <%= @projection.address %></h4>
      <h4>Date: <%= @projection.date %></h4>
      <h4>Capacity: <%= @projection.capacity %></h4>
      <h4>Organizer: <%= @projection.user.first_name %></h4>
    </div>
  </div>
</div>
