<div class="banner banner-smaller" style="background-image: linear-gradient(-225deg, rgba(168, 132, 0, 0.31) 0%, rgba(61, 21, 0, 0.2) 50%), url(<%= image_path 'rooftop_projection.jpg' %>);"></div>
  <div class="container">
    <div class="row" id="projection">
      <div class="col-xs-12 col-sm-2 col-sm-offset-1 text-center">

        <% if @projection.photo? %>
          <div>
          <%= cl_image_tag @projection.photo.path, width: 160, height: 240, crop: :fill, id: "margin-image" %>
          </div>
          <% if user_signed_in?  %>
            <% if @projection.user_id == current_user.id %>
              <%= link_to "Edit" , edit_projection_path(@projection), class: 'btn btn-default', style: "margin-top: 20px"%>
            <% elsif (@projection.bookings & current_user.bookings).empty? %>
                <%= simple_form_for @new_booking do |f| %>
                <%= f.input :projection_id, as: :hidden, input_html: { value: @projection.id } %>
                <%= f.input :url, as: :hidden, input_html: { value: request.original_url } %>
                <%= f.button :submit, "Participate", class:"btn btn-danger", style: "margin-top: 20px" %>
              <% end %>
            <% else %>
              <p style="margin-top: 20px;">Ticket taken !</p>
            <% end %>
          <% else %>
            <a href="#" class="btn btn-default spaced" data-toggle="modal" data-target=".sign-up-modal">Sign up to join</a>
          <% end %>

        <% end %>
          <h4>Sits left:</h4>
          <%= @projection.capacity - @projection.bookings.length %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h2>
          <%= @projection.name %>
          <% if !@projection.user.photo? %>
          <%= image_tag "https://www.drupal.org/files/profile_default.jpg", class: "avatar-large" %>
          <% else %>
          <%= cl_image_tag @projection.user.photo.path, height: 150, width: 150, crop: :fill, class: "avatar-large" %>
          <% end %>
        </h2>
        <%= link_to "All projections", projections_path, class: " btn-medium" %>
        <h3>Event <h4><%= @projection.date.day.to_s + " " %><%= Date::ABBR_MONTHNAMES[@projection.date.month] %>
        </h4></h3>
        <br>
        <h4><%= @projection.address %></h4><%= link_to "Show map", "#", class: "btn-medium" %>
        <div class="show-map hidden ">
          <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=214x160&sensor=false&maptype=roadmap&markers=color:red|#{@projection.address}&key=AIzaSyBDgyF0G_Lqwti0wPDWzT6UmWkztTQPcoM" %>
        </div>

        <div class="participants">
          <h4 style="padding-right: 20px;">Capacity: <%= @projection.capacity %></h4>
          <h4 style="padding-right: 20px;">Participants: </h4>
          <% @projection.bookings.each do |booking| %>
            <% if !booking.user.photo? %>
            <%= image_tag "https://www.drupal.org/files/profile_default.jpg", class: "avatar-large" %>
            <% else %>
            <%= cl_image_tag booking.user.photo.path, height: 150, width: 150, crop: :fill, class: "avatar-large" %>
            <% end %>
          <% end %>
        </div>
        <h3>Reviews</h3>
        <div id="reviews">
          <ul class="list-group">
            <% if user_signed_in? %>
              <% if (@projection.reviews & current_user.reviews).empty? && !(@projection.bookings & current_user.bookings).empty? %>
                <li class="review-form list-group-item">
                  <%= simple_form_for @new_review do |f| %>
                    <%= f.error_notification %>
                    <% @booking = Booking.where(user: current_user, projection: @projection).first %>
                    <%= f.input :booking_id, as: :hidden, input_html: { value: @booking.id } %>
                    <%= f.input :content %>
                    <%= f.input :rating %>
                    <%= f.button :submit, "Review" %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
            <% @reviews.each do |review| %>
              <li class="review list-group-item">
                <ul class="review list-group">
                  <li class="list-group-item">
                  <%= review.booking.user.first_name + " " + review.booking.user.last_name %>
                  <% if !review.booking.user.photo? %>
                  <%= image_tag "https://www.drupal.org/files/profile_default.jpg", class: "avatar-large" %>
                  <% else %>
                  <%= cl_image_tag review.booking.user.photo.path, height: 150, width: 150, crop: :fill, class: "avatar-large" %>
                  <% end %>
                  </li>
                  <li class="list-group-item"><%= review.created_at %></li>
                  <% if user_signed_in? && review.booking.user == current_user %>
                    <li class="review-form list-group-item">
                      <%= simple_form_for review do |f| %>
                        <%= f.error_notification %>
                        <%= f.input :id, as: :hidden, input_html: { value: review.id } %>
                        <% @booking = Booking.where(user: current_user, projection: @projection).first %>
                        <%= f.input :booking_id, as: :hidden, input_html: { value: @booking.id } %>
                        <%= f.input :content %>
                        <%= f.input :rating %>
                        <%= f.button :submit, "Edit review" %>
                      <% end %>
                    </li>
                  <% else %>
                    <li class="list-group-item"><%= review.content %></li>
                    <li class="list-group-item"><%= "X" * review.rating %></li>
                  <% end %>
                </ul>
                </br>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
